.select2-container--bootstrap-5 .select2-dropdown {
    background-color: var(--bs-dark) !important;
    color: var(--bs-white) !important;
    border-color: var(--bs-gray-600) !important;
}

.select2-container--bootstrap-5 .select2-selection__rendered {
    color: var(--bs-body-color) !important;
}

.select2-container--open {
    z-index: 9999;
}