/* Definición de colores para fácil modificación */
:root {
    --color-metal: #adb5bd; /* Un gris metálico claro */
    --color-azul-oscuro: #0d1b2a; /* Azul casi negro */
    --color-fondo-panel: #1b263b; /* Azul intermedio */
    --color-texto-principal: #f8f9fa; /* Blanco */
    --color-borde: #415a77;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--color-fondo-panel);
    color: var(--color-texto-principal);
}

/* --- Estructura Principal --- */
#wrapper {
    display: flex;
    min-height: 100vh;
}

/* --- Barra Lateral (Sidebar) --- */
#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    background-color: var(--color-azul-oscuro) !important;
    transition: all 0.3s;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid var(--color-borde);
    }

    #sidebar-wrapper .list-group-item {
        border: none;
        padding: 1rem 1.25rem;
        border-top: 1px solid var(--color-borde);
    }

        #sidebar-wrapper .list-group-item:first-child {
            border-top: none;
        }

        #sidebar-wrapper .list-group-item:hover {
            background-color: var(--color-borde) !important;
            color: var(--color-texto-principal) !important;
        }

/* --- Contenido de Página --- */
#page-content-wrapper {
    width: 100%;
}

/* --- Header & Footer --- */
.navbar {
    background-color: var(--color-azul-oscuro) !important;
    border-bottom: 1px solid var(--color-borde) !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color-azul-oscuro) !important;
    border-top: 1px solid var(--color-borde) !important;
    line-height: 60px; /* Altura del footer */
}
