.select2-container .select2-selection--single {
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #d1d3e2;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #858796;
}

.select2-dropdown {
    border: 1px solid #d1d3e2;
}

.select2-results__option--highlighted[aria-selected] {
    background-color: #4e73df !important;
    color: #fff !important;
}


.fc-timegrid-slot-lane {
    cursor: pointer;
}

.fc-timegrid-slot-lane:hover {
    background-color: #e6f4ff !important;
    transition: background-color 0.2s;
}